.device {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0 1.5rem;
    min-width: 20rem;
    min-height: 35rem;
    background-color: rgba(240, 244, 247, 0.776);
    border-radius: 2.3rem;
    background: linear-gradient(rgba(240, 244, 247, 0.776), rgba(86, 130, 164, 0.776));
}