.operands {
    width: 99.5%;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.2rem;
    padding: 0.5rem 0.5rem;
    place-items: center;

    .numbers {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2rem;
        font-size: medium;
        font-weight: 800;
        background-color: var(--key-bg);

        &:active {
            background-color: rgb(246, 128, 3);
        }
    }
}