.screen {
    width: 90%;
    height: 17rem;
    margin: 0 auto;
    background-color: rgb(21, 30, 39);
    border-radius: 2.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}