.input {
    display: block;
    overflow-wrap: break-word;
    width: 100%; 
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--foreground) rgb(21, 30, 39); 
}